:root {
  /*
  property:value
  navn:verdi
  */
  --primaryColor: #566246;
  --secondaryColor: #4A4A48;
  --accentColor: #A4C2A5;
  --darkColor: #1d1d1d;
  --lightColor: #fdfdfd;

  --spacingSmall: 10px;
  --spacingMedium: 20px;
  --spacingLarge: 30px;

  --fontFamily: fantasy;
}

h1 {
 /* color: #566246; */
  color: var(--primaryColor);
  background-color: var(--accentColor);
  padding-left: var(--spacingMedium);
  font-family: var(--fontFamily);
}

p {
  color: var(--secondaryColor);
  background-color: var(--accentColor);
}